<div class="favorites-view">
    <div class="container">
        <div *ngFor="let favorite of favorites">
            <div class="mini-container">
                <img src={{favorite.image}}>
                <div>Character Id: {{favorite.characterId}}</div>
                <div>Name: {{favorite.name}}</div>
                <button type="button" class="btn btn-danger" (click)="deleteFavorite(favorite.characterId)">Remove from
                    Favorites</button>
            </div>
        </div>
    </div>