<div class="favorites-view">
    <div class="container">
        <h1>Favorites</h1>
        <!-- <div *ngFor="let favorite of favorites">
            <div class="card" style="width: 15rem;">
                <img src={{character.image}} class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">Name: {{ favorite.name }}</h3>
                    <h5 class="card-text">Status: {{ favorite.status }}</h5>
                    <h5 class="card-text">Species: {{ favorite.species }}</h5>
                    <h5 class="card-text">Gender: {{ favorite.gender }}</h5>
                    <h5 class="card-text">Type: {{ favorite.type }}</h5>
                    <button type="button" class="btn btn-outline-info"
                        (click)="removeFromFavorites(usuario.uid,character.id)" *ngIf="(user | async)"> Add to
                        Favorites</button>
                </div>
            </div>
        </div> -->
    </div>
</div>