@import "./style/lib/variables";
@import "src/style/components/_container.scss";
@import "src/style/components/_h1.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}
